<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>boardProject_update</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script> <!-- ajax를 위한 jquery -->
  <script>
      boardUpdate = () => {
          const id = document.querySelector('#board_id').value;
          const writer = document.getElementById("board_writer").value;
          const ippw = $('#board_password').val();
          const pw = '[[${board.boardPassword}]]';
          const title = document.getElementById('board_title').value;
          const contents = document.getElementById('board_contents').value;
          const updateData = JSON.stringify({
              boardId : id,
              boardWriter : writer,
              boardPassword : ippw,
              boardTitle : title,
              boardContents : contents
          });
          const reqUrl = "/board/" + id;
          if (ippw == pw )  { //일치하면 ajax로 보내자...^^
               $.ajax({
                   type : 'put',
                   url : reqUrl,
                   contentType : 'application/json',
                   data: updateData, // 17줄에 있는 updateData를 보내는 셈!
                   success : function ()    {
                       location.href = "/board/" + id;
                   },
                   error: function ()   {
                       alert('ajax 실패');
                   }
               });
          } else {
              alert('비밀번호가 틀렸습니다~');
          }
      }
  </script>

    <!--<script>
        //함수이름 : boardUpdate , 매개변수 : boardId
        const boardUpdate = (boardId) =>    {
            console.log(boardId);
            const reqUrl = "/board/update";

            console.log('update 함수호출');
            const pw = document.getElementById('board_password').value;
            console.log(pw);
            const pwDB = '[[${board.boardPassword}]]';
            console.log(pwDB);

            if (pw == pwDB)	{
                $.ajax({
                    type:'put',
                    url: reqUrl,
                    dataType: 'json',
                    success: function (modify)   {
                        console.log(modify);
                        let output = "";
                        output += "<table>\n"+
                            "           <thead>\n"+
                            "<tr>\n"+
                            "<th>번호</th>"
                        "<th>작성자</th>"
                        "<th>비밀번호</th>"
                        "<th>제목</th>"
                        "<th>내용</th>"
                        "</tr>\n"
                        "           </thead>\n"+
                        "           <tbody>\n"+
                        "<tr>\n"+
                        "<td>"+modify.boardId+ "</td>\n"
                        "<td>"+modify.boardWriter+ "</td>\n"
                        "<td>"+modify.boardPassword+ "</td>\n"
                        "<td>"+modify.boardTitle+ "</td>\n"
                        "<td>"+modify.boardContents+" </td>\n"
                        "</tr>\n"
                        "           </tbody>\n"+
                        "</table>\n";
                        document.getElementById("update-ajax").innerHTML = output;
                    },
                    error: function () {
                        alert("제발 ajax실패가 아니게 해주세요");
                    }
                });
                /*document.update_form.submit();*/
            } else	{
                alert ('비밀번호가 틀립니다');
            }




        }
    </script>-->
    <script>
        /* 비밀번호 입력창에서 비밀번호를 입력받고 db에서 가져온 비밀번호와 비교해서 일치하면 update처리.
             일치하지않으면 비밀번호가 일치하지않습니다 alert 출력*/
        function updateCheck()	{
            //이 문장이 아래 form을 전송하는 문장

            console.log('update 함수호출');
            const pw = document.getElementById('board_password').value;
            console.log(pw);
            const pwDB = '[[${board.boardPassword}]]';
            console.log(pwDB);

            if (pw == pwDB)	{
                document.update_form.submit();
            } else	{
                alert ('비밀번호가 틀립니다');
            }
        }
    </script>
<body>
<h2> update </h2>
    <form action="/board/update" name="update_form" method="post">
        번호 <input type = "hidden" id="board_id" name="boardId" th:value="${board.boardId}" ><br>
        글쓴이 <input type = "text" id="board_writer" name="boardWriter" th:value="${board.boardWriter}" readonly><br>
        비번 <input type = "text" id="board_password" name="boardPassword"> <!--th:value="${board.boardPassword}"--><br>
        <p></p>
        <!--  <input type="hidden" id="board_date" name="boardDate" placeholder="작성시간"><br>-->
        제목 <input type="text" id="board_title" name="boardTitle" th:value="${board.boardTitle}"><br>
        글내용 <textarea id="board_contents" name="boardContents" th:value="${board.boardContents}"></textarea><br>
        <input type = "button" th:onclick="updateCheck()" value="수정">

    </form>
        <!--<button th:onclick="boardUpdate([[${board.boardId}]])"> 수정(ajax) </button> 얘는... 내가 지금 함수를 저렇게 쓰지않기때문에 133줄ㄹ처럼 써주자~-->
        <button th:onclick="boardUpdate([[${board.boardId}]])"> 수정(ajax) </button>
<!--<div id = "update-ajax"></div>-->



</body>
</html>